.a-btn {
  padding: 1.25rem 2.25rem;
  border-radius: 1rem;
  background-color: $blue;
  color: $white;
  transition: all .3s ease;
  border: none;
  outline: none;

  &:hover {
    background-color: $orange;
    border-radius: 1rem 1rem 0 1rem;
   }
}
